/* li {
  width: 26px;
  height: 35px;
  line-height: 26px;
  font-size: 12px;
  font-family: arial, calibri, sans-serif;
  font-weight: bold;
  border-radius: 50%;
  background: lightgreen;
  display: inline-block;
  color: white;
  position: relative;
  margin: 0px 40px;
  box-shadow: 0 0 3px 3px;
} */

li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 600%;
  height: 1px;
  background: grey;
  z-index: -1;
}

ul {
  padding-left: 0px;
}

/* li:first-child::before {
}

li:after {
}

.active {
  background: dodgerblue;
}
 */
.MyDashboard-channels-container {
  display: flex;
  margin-left: 10%;
  margin-top: 10%;
}

.MyDashboard-channel-name {
  line-height: 60px;
}

.MyDashboard-buttons {
  margin-left: 5%;
  display: flex;
  align-items: center;
}

.ui.button {
  letter-spacing: 0px !important;
}

.dashboard-title {
  font-size: 30px;
  font-family: HoneywellSans-Medium;
  color: #303030;
  letter-spacing: 0;
  line-height: 98px;
  margin-left: 20px;
}

.dashborad-channel-name {
  font-family: HoneywellSans-Medium;
  font-size: 20px;
  color: #303030;
  letter-spacing: 0;
  margin-left: 5px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-btn {
  font-size: 12px !important;
  line-height: normal !important;
}
